@media handheld, only screen and (max-width: 1280px) {
  .navbar, #title-holder {
    left: 20px;
    width: 360px;
  }
  .container {
    margin-left: 420px;
    margin-right: 20px;
  }

}
@media handheld, only screen and (max-width: 1000px) {
  #title-holder .main-title {
    font-size: 40px;
  }
  #title-holder .sub-title {
    font-size: 19px;
  }
  .navbar ul.navbar-nav li a.nav-link {
    font-size: 20px;
    padding: 10px 20px;
  }
  .navbar, #title-holder {
    left: 10px;
    width: 300px;
  }
  .container {
    margin-left: 320px;
    margin-right: 10px;
  }
}
  @media handheld, only screen and (max-width: 767px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
  #title-holder {
    position: relative;
    top: 10px;
    text-align: center;
    margin: 0 auto;
  }
  .navbar-nav li {
    margin-bottom: 1px;
  }
  .navbar ul.navbar-nav {
    padding: 2px;
    padding-bottom: 1px;
    background: #fff;
    -webkit-box-shadow: 0px 20px 65px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 20px 65px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 65px -8px rgba(0,0,0,0.75);
  }
  .navbar ul.navbar-nav li a.nav-link {
    transition: none;
    width: 100%;
    background: #000;

    &.active  {
      background: #fff;
    }
  }
}
