body {
  color: #ccc;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  background: #000 url(bg-2880x-dark.jpg) center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /*this is a fix so the container margin doesn't carry over to the body*/
  padding-top: 1px;
  margin-top: -1px;
}
h1, h2, h3, h4, h5, h6,
#title-holder {
  font-family: Impact, Charcoal, GillSans,  sans-serif;
  text-transform: uppercase;
  color: #fff;
}
a {
  color: #fff;
  &:hover, &:active, &:focus {
    color: #ddd;
    text-decoration: none;
  }
}
.btn {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.modal {
  padding-right: 0 !important;
}
.navbar {
  display: block;
  position: fixed;
  width: 400px;
  //height: 100%;
  right: auto;
  bottom: 0;
  left: 0;
  top: 300px;
  z-index: 1500;

  ul.navbar-nav {
    box-shadow: none !important;
    margin-top: 0;
  }
}
.navbar-collapse,
.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}
.navbar, #title-holder {
  left: 40px;
  width: 400px;
}
.container {
  .navbar-header, .navbar-collapse {
    margin: 0 0 0 10px;
  }
}

.container {
  max-width: none;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 460px;
  width: auto;
  margin-right: 40px;
  margin-top: 40px;
  padding: 40px 30px;

}
#title-holder {
  position: fixed;
  z-index: 10;
  top: 80px;


  .main-title {
    display: block;
    line-height: 1;
    font-size: 60px;
  }
  .sub-title {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: normal;
    padding: 4px 12px;
    font-size: 22px;
    width: auto;
    float: left;
    margin-top: 10px;
  }
}

.navbar {
  &.navbar-default {
    background: transparent;
    border: none;
  }
  .container {
    display: inline;
    margin: 0;
    padding: 0;
    background: transparent;
  }
}
.navbar-toggle {
  background: #000;
  border-radius: 4px;
  padding: 6px 8px 8px 8px;
  float: left;
  margin-bottom: 0;

  .icon-bar  {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff !important;
    margin-bottom: 6px;

    &:last-child  {
      margin-bottom: 0;
    }
  }
}

.navbar-nav {
  display: block;
  width: 100%;

  li {
    display: block;
    margin-bottom: 4px;
    float: none !important;
  }
}

.navbar ul.navbar-nav li a {
  color: #fff;
  display: block;
  font-size: 26px;
  padding: 14px 26px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-right: 60px;
  transition: margin .3s ease;
  line-height: 29px;
}
.navbar ul.navbar-nav li a:hover {
  margin-right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-decoration: none;
}
.navbar ul.navbar-nav li a.active {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px 20px 10px 20px;
    text-align: center;
    margin-top: 40px;
}
